<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mrsoft.pg.scs" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SCS - High Court Causelist</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="scheme" value="http" />
    <preference name="hostname" value="localhost" />
    <content src="index.html" allow-scripts="true" allow-same-origin="true" />
    <platform name="ios">
        <preference name="FirebaseMessagingServerKey" value="AAAAvxKU9Fo:APA91bHb3kl9KZE4GgkfO9R1fVCHDqoMXhqrmCLVwwPMJNXjoomDyzMtyBGfEkh_3m8-ggxJTHLt6oDe48zIckzwf2Ggod2Mq4p6h1I8W3PTH88M2NSC5l-SVWQJePSvytH0SgAVHF66" />
    </platform>
</widget>
