/* Vips: this css file for new html elements */

.checkbox_outer_square {
    background-color: white;
    width: 25px;
    border: 2px solid black;
    height: 25px;
}

.checkbox_inner_check {
    font-size: 22px;
    vertical-align: text-top;
}

.element_fullbody{
    margin-top:5px;
}

.element_label {
    font-size: 15px;
    margin-top:5px;
}

.radio_outer_circle {
    background: white;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    position: relative;
    border: 2px solid black;
}

.radio_inner_circle {
    position: absolute;
    background: black;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    top: 50%;
    left: 50%;
    margin: -6px 0px 0px -6px;
}

.full_bg_div {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgb(124, 180, 212);
    height: 100%;
    z-index: 99;
}

.slider_btn {
    z-index: 800;
    font-size: large;
    background: rgb(124, 180, 212);
    color: #000;
    text-decoration: none;
    padding: 17px 27px 17px 12px;
    width: 30px;
    position: fixed;
    right: 0px;
    top: 50px;
    border-radius: 0px 0px 0px 10px;
}

.slider_header_lbl {
    position: fixed;
    top: 108px;
    width: 0px;
    right: 0px;
    color: white;
    z-index: 800;
    background-color: rgb(105, 152, 185);
    padding: 0px;
    display: none;
}

.slider_list_div {
    height: 100%;
    background-color: rgb(124, 180, 212);
    position: absolute;
    right: 0px;
    top: 128px;
    bottom: 0px;
    z-index: 999;
}

.sliderlist_elements {
    background-color: lightblue;
    padding: 8px;
    width: 100%;
    display: none;
    margin-top: 2px;
    box-shadow: 0px 1px 1px #3c8dbc;
}

.date_picker_textbox {
    width: 120px;
    padding: 2px;
    font-size: 20px;
    text-align: center;
    margin-left: 5px;
}

.date_picker_label {
    padding-left: 5px;
}

.select_all_scholar_btn {
    border: none;
    padding: 5px;
    box-shadow: 2px 3px 5px #00a1ff;
    background-color: #1ba5f7;
    color: white;
    font-size: 14px;
    border-radius: 3px;
}

.select_all_system_btn_select {
    border: none;
    padding: 5px;
    box-shadow: 2px 3px 5px black;
    background-color:#00F;
    color: white;
    font-size: 14px;
    border-radius: 3px;
}

.select_all_organisation_btn {
    border: none;
    padding: 5px;
    box-shadow: 2px 3px 5px black;
    background-color:red;
    color: white;
    font-size: 14px;
    border-radius: 3px;
}
.goto_filter_page_btn {
    border: none;
    padding: 5px;
    box-shadow: 2px 3px 5px #6200ff;
    background-color: #7a1bf7;
    color: white;
    font-size: 17px;
    border-radius: 5px;
}

.crossicon
{
    padding: 6px 8px;
    border-radius: 50%;
    box-shadow: 0px 0px 2px #888;
    font-size: 20px;
    margin-bottom: 5px;
}

.uns_alert {
    width: 200px;
    height: 20px;
    height: auto;
    position: fixed;
    left: 50%;
    bottom: 80px;
    margin-left: -100px;
    background-color: #383838;
    color: #F0F0F0;
    font-family: Calibri;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    z-index: 9000000000;
}